@import "padrao.css";

.container-body{
    display: grid;
    grid-template-columns: 70% 1fr;
    justify-content: center;
    align-self: flex-start;
    justify-items: center;
}


.duasBoxCospeConteudoFormulario{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 450px;
}


#formulariobasico{
    display: flex;
    flex-direction: row;
    color: white;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(200px);
    padding: 15px;
    border-radius: 15px;
    width: 70%;
}

.linhanoMeioDaPagina{
    border-left: 6px solid rgb(79 76 76 / 32%);
}

.reiniciar{
    display: flex;
    margin-top: 2vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to right,#848484, #344E41);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-image 1s;
    border-radius: 10px;
    justify-content: center;

}
.reiniciar:hover{
    background-image: linear-gradient(to right, #A3B18A, #588157 );
}

.escolhaInicial{
    width: 50vh;
    margin: 5vh 2vh 2vh 2vh;
}

.complemento{
    width: 50vh;
    margin: 0vh 2vh 2vh 2vh;
}

.titleform{
    justify-content: center;
}


.boxNotaGerada {
    color: white;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(60px);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    /* Ajuste conforme necessário */
    min-width: 400px;
    max-width: 450px;
    /* Adicione um tamanho máximo para evitar que a caixa fique muito larga */
    margin: 20px 10px 10px 10px;
    /* Isso centraliza a caixa horizontalmente */
}

.campoDosAvisosDireita {
    color: white;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(200px);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    /* Ajuste conforme necessário */
    min-width: 370px;
    max-width: 400px;
    /* Adicione um tamanho máximo para evitar que a caixa fique muito larga */
    margin: 20px 10px 10px 10px;
    /* Isso centraliza a caixa horizontalmente */
}

fieldset {
    padding: 15px;
}

legend {
    padding: 10px;
    text-align: center;
    FONT-SIZE: 20px;
    FONT-FAMILY: Arial;
}

.legendaFildset{
    color: black;
    text-shadow: none;
}


[id^="data_"] {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.su{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    width: 50%;
}


#submit {
    background-image: linear-gradient(to right,#848484, #344E41);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-image 1s;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, #A3B18A, #588157 );
}

#button, #buttonFechamento {
    background-image: linear-gradient(to right,#848484, #344E41);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-image 1s;
    border-radius: 10px;
}

#button:hover, #buttonFechamento:hover {
    background-image: linear-gradient(to right, #A3B18A, #588157 );
}

.botoes{
    color: black;
    text-shadow: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.hidden {
    display: none;
}

.linha-horizontal {
    height: 3px;
    background-color: #0d0d0d;
    width: 100%;
    margin: 2%;
}

.linha-horizontal-entre-campos {
    height: 1px;
    background-color: #0d0d0d;
    width: 100%;
}




@media screen and (max-width: 1500px){
    .container-body{
        grid-template-columns: 1fr;
    }
}