@import "padrao.css";

.container-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-self: flex-start;
    justify-items: center;
    gap: 2%;
}

.redirect-button{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.boxNotaGerada {
    color: white;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(60px);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.TXTAbertura, .TXTFechamento{
    color: rgb(0, 0, 0);
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(200px);
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    resize: none;
    height: 180px;
    font-size: inherit;
}


fieldset {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    padding: 10px;
    text-align: center;
    FONT-SIZE: 20px;
    FONT-FAMILY: Arial, serif;
}

.legendaFildset{
    font-family: monospace;
    color: black;
    text-shadow: none;
    font-size: x-large;
    background-color: rgb(255 255 255 / 10%);
    width: 40vh;
    /* opacity: 0.5; */
    border-radius: 10px;
}
#button, #buttonFechamento, #buttonRedirect{
    background-image: linear-gradient(to right,#848484, #344E41);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-image 1s;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

#button:hover, #buttonFechamento:hover, #buttonRedirect:hover {
    background-image: linear-gradient(to right, #A3B18A, #588157 );
}

@media screen and (max-width: 1200px){
    .container-body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}